@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap");
$font-size:50px;
$text-color:#4a4a4a;
$font-weight:900;
$secondary-text-color:#8F8F8F8F;
$primary-font-family: "Radio Canada", sans-serif;
$icon-size: 18px;
$button-color: #f9dd00;
$header-text-color: #82839e;
$font-color: #212529;


